body{
	font-family: 'Open sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
}

body{
	background-color: #e8e8e8;
	background-repeat: repeat-all;
	background-position: center center;
	background-attachment: scroll;
	font: 13px 'Open Sans', Arial, sans-serif;
}

header{
	height:90px;
	width: 900px;
	margin: auto;
}

header #datoEmpre{
	float: right;
}

header img{
	float: left;
}

.datos{
	margin: auto;
	width: 660px;
}

.datos td{
	width: 280px;
}

.datos td input{
	width: 332px;
}

.error{
	font-size: 10px;
color: red;
}

p{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

p#finRegistro{
	font-size: 18px;
}

.datosModulo1{
	border: 1px solid #000;
	border-collapse: collapse;
	margin: auto;
}

.datosModulo1 tr td{
	border: 1px solid #000;	
	padding: 10px;
}
.datosModulo1 tr.titulo{
	font-weight: bold;
	background-color: #188c01;
	color: #fff;
}

.datosModulo1 tr td input{
	display: block;
	margin: auto;
}

button{
	background-color: #188c01;
	display: block;
	padding: 6px 12px;
	border: 1px solid #bbbbbb;
	margin: 0 5px 20px 0;
	color: #fff;
	line-height: 18px;
	text-decoration: none !important;
	cursor: pointer;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
	margin: auto;
}

textarea{
	margin: auto;
	display: block;
}

a{
	text-align: center;
}


#contenido{
	width: 800px;
	margin: auto;
}

#contenido .leyenda{
	font-size: 14px;
}

#contenido #taller{
	font-weight: bold;
	width: 400px;
	margin: auto;
	font-size: 16px;
	text-align: center;
}