body{

   /*background-color: #dbdbdb;*/
   background: #eee;
   /*background: linear-gradient(top, #fff, #ddd);/* ESTILO ESTANDAR */
   /*background: -o-linear-gradient(top, #fff, #ddd);/* Safari 5.1+, Chrome 10+ */
   /*background: -ms-linear-gradient(top, #fff, #ddd);/* IE 10+ */
   /*background: -moz-linear-gradient(top, #fff, #ddd);/* F 3.6+ */
   /*background: -webkit-linear-gradient(top, #fff, #ddd);/* FF 3.6+ */
   font-family: Helvetica;
	
}

#fg_membersite {
	width: 22em;
	height: 18em;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	position: absolute;
	left: 45%;
	top: 40%;
	margin-top: -170px;
	margin-left: -100px;
}

#fg_membersite fieldset
{
	margin-right: auto;
	margin-left: auto;
   width: 14.375em;
   padding: 1.250em;
   border:1px solid #ccc;
	-moz-border-radius: 0.625em;
	-webkit-border-radius: 0.625em;
	-khtml-border-radius: 0.625em;
	border-radius: 0.625em;   
}

#fg_membersite button
{
	font-size: 1em;
	border: 0;
	background-color: #188c01; 
	color: #fff; 
	text-align: center;
	margin-left: 6em;
	width: 7em;
	height: 2.188em;
	font-weight: bold;
}

#fg_membersite label {
	font-size: 1.4em;
	font-weight: bold;
	margin-left: 0.8929em;
}


#fg_membersite input{
	height: 2.188em;
  	width: 18.750em;
  	margin: 1em;
  	margin-bottom:0.188em;
  	border: 0;
  	padding-left: 2em;
  	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-khtml-border-radius: 0.2em;
	border-radius: 0.2em;
}

.short_explanation{
	margin-top: 4em;
	font-size: 0.7em;
	padding-left: 1em;
}

.short_explanation1{
	margin-top: 2em;
	font-size: 0.7em;
	padding-left: 1em;
}

a:visited{
	text-decoration: none;
	color: #000;
}

a:link{
	text-decoration: none;
	color: #000;
}

#resetreq_email_errorloc{
	margin-left: 1.5em;
}

.container .error{
	color: red;
	font-size: 0.7em;
	margin-left: 7em;
	font-style: italic;
}

.error{
	color: red;
	font-size: 0.7em;
	margin-left: 3em;
	font-style: italic;
}

.container{
	height: 3.438em;
	margin-top: 0;
}	

#iniciar{
	margin-top: 0.9em;
}

.container #Submit{
	margin-top: 1em;
}


.logo{
	margin: auto;
	width: 100px;
	margin-top: 10%;
}

.logo img{
	/*margin: auto;*/
}

.principal{
	text-align: center;
}

.links{
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}

.persona{
	float: left;
	position: relative;
	top: -250px;
	left: 300px;
}