/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/

#fg_membersite{
  border: 1px solid #ccc;
  width: 50%;
  margin:auto;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;  
}

#fg_membersite fieldset
{
   width: 225px;
   padding:20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

#fg_membersite legend, #fg_membersite h2
{

   font-size: 1.5em;
   color:#333;
}

#fg_membersite label
{
   font-size:0.7em;
   float: inherit;
}

#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]
{

  color : #000; 
  padding : 3px; 
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px; 

}

#fg_membersite input[type="text"],
#fg_membersite input[type="password"]
{
  width:80%;
}

 #fg_membersite #scaptcha
{
  width:60px;
  height:18px;
}

#fg_membersite input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;
   border: none;
}

#fg_membersite textarea
{
  height:120px;
  width:310px;
}

#fg_membersite input[type="text"]:focus,
#fg_membersite textarea:focus
{
  color : #009;
  font-weight:bold;
}

#fg_membersite .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#fg_membersite .error
{
   font-size: 0.6em;
   color: #900;
}

#fg_membersite #register_password_errorloc
{
    clear:both;
    font-size: 0.7em;
}

#fg_membersite  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#fg_membersite fieldset#antispam legend
{
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#fg_membersite .short_explanation
{
   font-size: 0.5em;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#fg_membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite #fg_crdiv
{
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_membersite  #fg_crdiv p
{
    display:none;
}

#fg_membersite_content li
{
padding-top:10px;
padding-bottom:10px;
}
#fg_membersite_content
{
    font-size: 0.9em;
    line-height: 150%
}

#fg_membersite_content h2
{
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}